:host{
	display: block;
	margin-top: 10px;
	width: 50%
}
.back{
	margin-bottom: 40px;
}

@media (max-width: 580px) {
	:host{
		display: block;
		width: 98%;
		margin-bottom: 16px;
		padding: 10px;
	}
}